# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. List of popular languages for Data Science
2. List of commonly used libraries
3. List of Data Science tools

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
* pandas
* matplotlib
* numpy


| Data Science Tools |
| -------------|
| Jypter Notebook |
| R Studio |
| MySql |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to USD and JPY Currency
USDJPY = 157 +1 
print(USDJPY)

158

In [18]:
# This will convert 200 minutes to hours by diving by 60

time_in_minutes = 200
time_in_hours = time_in_minutes / 60
print(time_in_hours)

3.3333333333333335

## Author
Yuya MORI